@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
  font-family: "Roboto", "M+ Type-1 (general-j) Regular", "M+ C Type-1 (basic latin) Regular", sans-serif;
  color: #121212;
}

a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: inherit;
}
a:hover {
  opacity: 0.6;
}

p {
  font-weight: normal;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

body {
  line-height: 1.4;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

.l-header {
  background-color: #FFF7EF;
}

.l-main {
  height: auto;
}

.l-contents__wrapper {
  background-color: #FFFDFA;
}

.l-contents {
  position: relative;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 600px) {
  .l-contents {
    width: 86vw;
  }
}
@media screen and (min-width: 1025px) {
  .l-contents {
    width: 70vw;
  }
}

.l-footer {
  background: url(../../images/footer.png) center center/cover repeat;
}

.l-nav {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  overflow: auto;
  width: 87%;
  height: 100%;
  transition: all 0.5s ease;
  color: #707070;
  background-color: #F2EDE9;
  z-index: 100;
}
@media screen and (min-width: 600px) {
  .l-nav {
    width: 44%;
  }
}
@media screen and (min-width: 1025px) {
  .l-nav {
    position: static;
    width: 100%;
    transition: unset;
    transform: unset;
  }
}

.is-open {
  overflow: hidden;
}

.is-open .l-nav {
  right: 0;
  transition: all 0.5s ease;
}

.overlay::after {
  content: "";
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  transition: all 1s ease;
  top: 0%;
  left: 0%;
  z-index: 30;
}

.c-title--logo {
  color: #707070;
  font-size: 4rem;
  line-height: 1.3;
  margin-top: 40px;
  font-weight: bold;
}
@media screen and (min-width: 1025px) {
  .c-title--logo {
    font-size: 6.4rem;
    margin-top: 0;
  }
}

.c-title--underbar {
  display: inline-block;
  position: relative;
  color: #FFF;
  font-weight: bold;
}
.c-title--underbar::before {
  content: "";
  position: absolute;
  background-color: #FFF;
  height: 4px;
  bottom: -19px;
  width: 34px;
}
@media screen and (min-width: 600px) {
  .c-title--underbar::before {
    bottom: -21px;
    width: 36px;
  }
}
@media screen and (min-width: 1025px) {
  .c-title--underbar::before {
    bottom: -34px;
    width: 63px;
  }
}

.c-title--h1 {
  font-weight: bold;
  font-size: 3.6rem;
}
@media screen and (min-width: 600px) {
  .c-title--h1 {
    font-size: 6rem;
  }
}

.c-title--h2 {
  font-weight: bold;
  font-size: 2.8rem;
}
@media screen and (min-width: 600px) {
  .c-title--h2 {
    font-size: 3.6rem;
  }
}

.c-title--h3 {
  font-weight: bold;
  font-size: 2.4rem;
}
@media screen and (min-width: 600px) {
  .c-title--h3 {
    font-size: 2.8rem;
  }
}

.c-title--h4 {
  font-weight: bold;
  font-size: 2rem;
}

.c-button {
  display: inline-block;
  color: #3C2A10;
  background: linear-gradient(to bottom, #F2EDE9, #DED8D3);
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
  border: 1px solid #707070;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
  white-space: nowrap;
  cursor: pointer;
  width: 100%;
  height: 81px;
}
.c-button:hover {
  opacity: 0.6;
}
@media screen and (min-width: 600px) {
  .c-button {
    width: 429px;
    height: 104px;
  }
}

.c-button--roundedcorners {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 100vh;
  border: none;
  background: #FFF;
  color: #707070;
  text-decoration: none;
  white-space: nowrap;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
}

.c-layout--grid {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  box-sizing: border-box;
  grid-template-rows: 217px 285px -webkit-fit-content 150px;
  grid-template-rows: 217px 285px fit-content 150px;
}
@media screen and (min-width: 600px) {
  .c-layout--grid {
    grid-template-rows: 217px 530px -webkit-fit-content 150px;
    grid-template-rows: 217px 530px fit-content 150px;
  }
}
@media screen and (min-width: 1025px) {
  .c-layout--grid {
    grid-template-columns: 80% 20%;
  }
}

.l-header {
  position: relative;
  grid-row: 1;
}
@media screen and (min-width: 1025px) {
  .l-header {
    grid-column: 1;
  }
}

.l-thumbnail {
  grid-row: 2;
  grid-column: 1;
}

.l-contents__wrapper {
  grid-row: 3;
  grid-column: 1;
}

.l-footer {
  grid-row: 4;
  grid-column: 1/3;
}

@media screen and (min-width: 1025px) {
  .l-nav {
    display: block;
    grid-row: 1/4;
    grid-column: 2;
  }
}

.c-quote {
  background: #f5f5f5;
  width: 100%;
  height: auto;
  color: #3C2A10;
  font-size: 1.6rem;
  padding: 30px 20px;
}
@media screen and (min-width: 600px) {
  .c-quote {
    padding: 50px 56px 60px 50px;
  }
}
.c-quote p a {
  display: inline-block;
  text-decoration: underline;
  color: #4A6C9B;
}

.c-image__full img {
  width: 100%;
  height: 124px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 100%;
     object-position: 50% 100%;
}
@media screen and (min-width: 600px) {
  .c-image__full img {
    height: 264px;
  }
}

.c-image__left {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.c-image__left img {
  width: 43%;
  height: auto;
}
.c-image__left p {
  margin-left: 10px;
}
@media screen and (min-width: 600px) {
  .c-image__left p {
    margin-left: 21px;
  }
}

.c-image__right {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.c-image__right img {
  width: 43%;
  height: auto;
  margin-left: 10px;
}
@media screen and (min-width: 600px) {
  .c-image__right img {
    margin-left: 21px;
  }
}

.c-image__center {
  width: 100%;
}
.c-image__center img {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 600px) {
  .c-image__center img {
    width: 43%;
  }
}

.c-image__gallery {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .c-image__gallery {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.c-image__gallery img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
@media screen and (min-width: 600px) {
  .c-image__gallery img {
    width: 49%;
  }
}
@media screen and (min-width: 1025px) {
  .c-image__gallery img {
    width: 32%;
  }
}

.c-list {
  color: #3C2A10;
  font-size: 1.6rem;
  margin-top: 20px;
}

ol.c-list {
  display: table;
}
ol.c-list li:after {
  content: "";
  display: block;
}
ol.c-list li {
  display: table-row;
  counter-increment: table-01;
}
ol.c-list li:before {
  content: counter(table-01) ".";
  display: table-cell;
  padding-right: 0.4em;
  text-align: right;
}

.c-code {
  display: block;
  width: 100%;
  height: auto;
  background: #f5f5f5;
  padding: 50px;
  color: #3C2A10;
}

.c-table {
  width: 100%;
  height: auto;
  font-size: 1.6rem;
  color: #3C2A10;
  border-collapse: collapse;
}
.c-table tr,
.c-table td {
  border: solid 1px #707070;
}
.c-table tr {
  height: 77px;
}
.c-table td {
  padding: 28px 30px;
}
.c-table td.c-table__left {
  width: 40%;
}
@media screen and (min-width: 600px) {
  .c-table td.c-table__left {
    width: 36%;
  }
}
@media screen and (min-width: 1025px) {
  .c-table td.c-table__left {
    width: 32%;
  }
}

.c-feature {
  position: relative;
}
.c-feature img {
  width: 100%;
  height: 225px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 30% 100%;
     object-position: 30% 100%;
  z-index: 1;
}
@media screen and (min-width: 1025px) {
  .c-feature img {
    height: 500px;
  }
}
.c-feature h1 {
  position: absolute;
  left: 37px;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  color: #FFF;
  z-index: 10;
}
@media screen and (min-width: 600px) {
  .c-feature h1 {
    left: 86px;
  }
}
.c-feature h1 span {
  display: block;
  font-size: 1.6rem;
}
@media screen and (min-width: 600px) {
  .c-feature h1 span {
    display: inline;
    vertical-align: middle;
    margin-left: 20px;
  }
}

/*
.p-thumbnail--single {
    img {
        height: 225px;

        @include m.mq(tab) {
            height: 500px;
        }
    }
}*/
.p-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1025px) {
  .p-header {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 66px;
    height: 217px;
  }
}

@media screen and (max-width: 599px) {
  .p-search__wrapper {
    margin: 38px 31px 40px 24px;
  }
}
@media screen and (min-width: 600px) {
  .p-search__wrapper {
    margin: 38px auto 40px;
  }
}
@media screen and (min-width: 1025px) {
  .p-search__wrapper {
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
  }
}
.p-search__wrapper span {
  display: inline-block;
  position: relative;
}
.p-search__wrapper span::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url(../../../images/icon_search.png) no-repeat center center/auto 100%;
  display: inline-block;
  position: absolute;
  top: 12px;
  left: 11px;
  z-index: 10;
}
.p-search__wrapper .p-search__box {
  position: relative;
  font-size: 1.6rem;
  line-height: 1.2;
  display: inline-block;
  padding: 3px 0 3px 3em;
  border-radius: 10px;
  border: 1px solid #707070;
  height: 46px;
  margin: 0;
  width: 47vw;
}
@media screen and (min-width: 1025px) {
  .p-search__wrapper .p-search__box {
    width: 20vw;
  }
}
.p-search__wrapper .p-search__button {
  width: 16vw;
  height: 46px;
  margin-left: 12px;
  color: #707070;
}
@media screen and (min-width: 600px) {
  .p-search__wrapper .p-search__button {
    margin-left: 13px;
  }
}
@media screen and (min-width: 1025px) {
  .p-search__wrapper .p-search__button {
    width: 7vw;
    margin-left: 13px;
  }
}

/* navの開閉（sp・tab） */
.p-header__open {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 700;
  color: #707070;
  background-color: #FFF7EF;
  border: none;
  font-size: 2rem;
  margin-top: 14px;
  margin-right: 16px;
}
@media screen and (min-width: 600px) {
  .p-header__open {
    margin-top: 18px;
    margin-right: 26px;
    font-size: 3.4rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-header__open {
    display: none;
  }
}

.p-thumbnail--archive img {
  height: 283px;
}
@media screen and (min-width: 600px) {
  .p-thumbnail--archive img {
    height: 239px;
  }
}

.p-thumbnail--top img {
  width: 100%;
  height: 285px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 1025px) {
  .p-thumbnail--top img {
    width: 100%;
    height: auto;
  }
}
.p-thumbnail--top h2 {
  left: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  font-weight: bold;
  color: #FFF;
  font-size: 3.6rem;
}
@media screen and (min-width: 600px) {
  .p-thumbnail--top h2 {
    left: 86px;
  }
}
@media screen and (min-width: 1025px) {
  .p-thumbnail--top h2 {
    font-size: 4rem;
  }
}

/*
.p-thumbnail {
    position: relative;

    img {
        width: 100%;
        height: 285px;
        object-fit: cover;

        @include m.mq(pc) {
            width: 100%;
            height: auto;
        }
    }

    h2 {
        left: 25px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        font-weight: bold;
        color: v.$white-color;
        font-size: 3.6rem;

        @include m.mq(tab) {
            left: 86px;
        }

        @include m.mq(pc) {
            font-size: 4rem;
        }
    }
}

//.p-thumbnail

.p-thumbnail--archive {
    position: relative;

    img {
        width: 100%;
        height: 283px;
        object-fit: cover;
        object-position: 30% 100%;
        z-index: 1;

        @include m.mq(pc) {
            height: 239px;
        }
    }

    h1 {
        position: absolute;
        left: 37px;
        top: 50%;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        color: v.$white-color;
        z-index: 10;

        @include m.mq(tab) {
            left: 86px;
        }

        span {
            display: block;
            font-size: 1.6rem;

            @include m.mq(tab) {
                display: inline;
                vertical-align: middle;
                margin-left: 20px;

            }
        }
    }
}

.p-thumbnail--single {
    img {
        height: 225px;

        @include m.mq(tab) {
            height: 500px;
        }
    }
}*/
.p-card__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
@media screen and (min-width: 600px) {
  .p-card__wrapper {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 40px;
  }
}
@media screen and (min-width: 1025px) {
  .p-card__wrapper {
    margin-top: 120px;
  }
}

.p-card01,
.p-card02 {
  position: relative;
  width: 89vw;
  height: auto;
  min-height: 642px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .p-card01,
.p-card02 {
    width: 43vw;
    min-height: 681px;
    padding: 11px;
  }
}
@media screen and (min-width: 1025px) {
  .p-card01,
.p-card02 {
    width: 33vw;
    min-height: 1193px;
    padding: 20px;
  }
}
.p-card01 h3,
.p-card02 h3 {
  font-size: 4.1rem;
  margin-bottom: 212px;
}
@media screen and (min-width: 600px) {
  .p-card01 h3,
.p-card02 h3 {
    font-size: 4.4rem;
    margin-bottom: 225px;
  }
}
@media screen and (min-width: 1025px) {
  .p-card01 h3,
.p-card02 h3 {
    font-size: 8rem;
    margin-bottom: 648px;
  }
}

.p-card01 {
  background: url(../../../images/card_01.jpg) center center/cover no-repeat;
}

.p-card02 {
  background: url(../../../images/card_02.jpg) center center/cover no-repeat;
  margin-top: 20px;
}
@media screen and (min-width: 600px) {
  .p-card02 {
    margin-top: 0;
  }
}

ul.p-card__inner {
  margin-top: auto;
}
ul.p-card__inner li {
  background-color: rgba(255, 255, 255, 0.8);
  color: #3C2A10;
  width: 100%;
  height: auto;
  min-height: 162px;
  margin-top: 10px;
  padding: 19px 10px;
}
@media screen and (min-width: 600px) {
  ul.p-card__inner li {
    min-height: 172px;
  }
}
@media screen and (min-width: 1025px) {
  ul.p-card__inner li {
    min-height: 174px;
    margin-top: 20px;
    padding: 17px 19px;
  }
}
ul.p-card__inner li h4 {
  font-size: 2.2rem;
  font-weight: 700;
}
@media screen and (min-width: 600px) {
  ul.p-card__inner li h4 {
    font-size: 2.4rem;
  }
}
ul.p-card__inner li p {
  font-size: 1.6rem;
  margin-top: 20px;
}
@media screen and (min-width: 1025px) {
  ul.p-card__inner li p {
    font-size: 1.4rem;
    margin-top: 26px;
  }
}

.p-map__wrapper {
  background-color: black;
  z-index: 1;
}

.p-map {
  color: #FFF;
  overflow-wrap: normal;
  background: url(../../../images/map_02.png) no-repeat center center;
  background-size: cover;
  height: auto;
  min-height: 691px;
  margin-top: 134px;
  padding: 40px 40px 51px 42px;
  position: relative;
  z-index: 10;
  /*
      .p-map__overlay {
          color: v.$white-color;
          width: 100%;
          height: 60%;
          //height: 415px;
          overflow-y: visible;
          overflow-wrap: normal;
          background: rgba(0, 0, 0, .5);
          padding: 40px 40px 51px 42px;
          z-index: 20;

          @include m.mq(tab) {
              height: 100%;
              padding: 40px 29px 40px 42px;
          }

          @include m.mq(pc) {
              width: 60%;
              margin: 0;
              padding: 80px 140px 80px 120px;
          }//.p-map__overlay
  }
  */
}
@media screen and (min-width: 600px) {
  .p-map {
    min-height: 415px;
    padding: 40px 29px 40px 42px;
  }
}
@media screen and (min-width: 1025px) {
  .p-map {
    min-height: 649px;
    padding: 80px 120px;
  }
}
.p-map .p-map__overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: rgba(0, 0, 0, 0.29);
  z-index: 20;
}
@media screen and (min-width: 600px) {
  .p-map .p-map__overlay {
    height: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .p-map .p-map__overlay {
    width: 60%;
    height: 100%;
  }
}
.p-map h3 {
  font-size: 3rem;
  white-space: nowrap;
  margin-top: 40px;
  margin-left: 42px;
  z-index: 30;
}
@media screen and (min-width: 1025px) {
  .p-map h3 {
    font-size: 3.6rem;
    margin-top: 80px;
    margin-left: 120x;
  }
}
.p-map h3::before {
  height: 2px;
  width: 75px;
  bottom: -20px;
}
@media screen and (min-width: 1025px) {
  .p-map h3::before {
    bottom: -55px;
  }
}
.p-map p {
  position: relative;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 33px;
  margin-top: 40px;
  z-index: 30;
}
@media screen and (min-width: 600px) {
  .p-map p {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1025px) {
  .p-map p {
    margin-top: 115px;
    width: 45%;
  }
}

.p-nav__close {
  border: none;
  position: absolute;
  top: 41px;
  right: 33px;
}
.p-nav__close::before, .p-nav__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 45px;
  background: #707070;
}
.p-nav__close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.p-nav__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
@media screen and (min-width: 600px) {
  .p-nav__close {
    right: 41px;
  }
}
@media screen and (min-width: 1025px) {
  .p-nav__close {
    display: none;
  }
}

.p-nav {
  position: relative;
  margin-top: 178px;
  margin-left: 46px;
  margin-bottom: 212px;
}
@media screen and (min-width: 600px) {
  .p-nav {
    margin-top: 171px;
  }
}
@media screen and (min-width: 1025px) {
  .p-nav {
    margin-top: 82px;
    margin-right: 60px;
  }
}
.p-nav .p-nav__title {
  display: none;
}
@media screen and (min-width: 1025px) {
  .p-nav .p-nav__title {
    display: inline-block;
    font-size: 3.4rem;
    font-weight: 700;
    margin-bottom: 36px;
  }
}
.p-nav .p-nav__product a {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 700;
  margin-top: 34px;
}
@media screen and (min-width: 600px) {
  .p-nav .p-nav__product a {
    margin-top: 41px;
  }
}
@media screen and (min-width: 1025px) {
  .p-nav .p-nav__product a {
    margin-top: 49px;
  }
}
.p-nav ul.p-nav__list li:first-child a {
  margin-top: 40px;
}
.p-nav ul.p-nav__list li a {
  display: inline-block;
  margin-left: 20px;
  font-size: 2rem;
  margin-top: 23px;
}

.p-footer {
  height: 150px;
}
.p-footer .p-information {
  margin-top: 45px;
}
.p-footer .p-information ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.p-footer .p-information ul li a {
  padding: 0px 20px;
  color: #FFF;
}
.p-footer .p-information ul li:first-child {
  border-right: solid 1px #FFF;
}
.p-footer p small {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #FFF;
}

.p-description {
  color: #3C2A10;
  margin-top: 30px;
}
@media screen and (min-width: 600px) {
  .p-description {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1025px) {
  .p-description {
    margin-top: 60px;
  }
}
.p-description p {
  margin-top: 30px;
}
@media screen and (min-width: 600px) {
  .p-description p {
    margin-top: 25px;
  }
}

.p-media {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  min-height: 585px;
  height: auto;
  color: #fff;
  background-color: #3C2B1C;
}
.p-media div {
  width: 100%;
}
.p-media img {
  height: 230px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 100%;
     object-position: 0 100%;
}
@media screen and (min-width: 600px) {
  .p-media {
    flex-direction: row;
    justify-content: space-between;
    min-height: 355px;
    margin-top: 20px;
  }
  .p-media:first-child {
    margin-top: 37px;
  }
  .p-media div {
    width: 50%;
  }
  .p-media img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0 100%;
       object-position: 0 100%;
  }
}
@media screen and (min-width: 1025px) {
  .p-media {
    min-height: 471px;
    margin-top: 30px;
  }
  .p-media:first-child {
    margin-top: 70px;
  }
}

.p-media__text {
  padding-top: 30px;
  padding-left: 17px;
  padding-bottom: 44px;
  margin-top: 10px;
}
.p-media__text p {
  width: 73%;
  margin-top: 10px;
}
@media screen and (min-width: 600px) {
  .p-media__text {
    padding: 30px 35px;
  }
  .p-media__text p {
    width: 76%;
  }
}
@media screen and (min-width: 1025px) {
  .p-media__text {
    padding: 53px 60px;
  }
  .p-media__text p {
    margin-top: 17px;
  }
}

.p-media__title {
  font-weight: bold;
  font-size: 2rem;
}
@media screen and (min-width: 1025px) {
  .p-media__title {
    font-size: 3.6rem;
  }
}

.p-media__subtitle {
  font-weight: bold;
  font-size: 1.6rem;
  margin-top: 24px;
}
@media screen and (min-width: 1025px) {
  .p-media__subtitle {
    font-size: 2.4rem;
    margin-top: 47px;
  }
}

.p-media__button {
  display: block;
  margin-top: 40px;
  width: 43vw;
  height: 42px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 600px) {
  .p-media__button {
    width: 20vw;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1025px) {
  .p-media__button {
    width: 15vw;
    height: 76px;
  }
}

.p-pager {
  margin-top: 60px;
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .p-pager {
    margin-top: 105px;
  }
}
@media screen and (min-width: 1025px) {
  .p-pager {
    margin-top: 150px;
    margin-bottom: 64px;
  }
}

ul.p-pager__pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 600px) {
  ul.p-pager__pagination {
    justify-content: center;
  }
}

ul.p-pager__pagination li {
  display: none;
}
ul.p-pager__pagination li.pre, ul.p-pager__pagination li.next {
  display: inline-block;
}
ul.p-pager__pagination li.pre a, ul.p-pager__pagination li.next a {
  border: none;
}
ul.p-pager__pagination li.pre a img, ul.p-pager__pagination li.next a img {
  display: inline-block;
}
ul.p-pager__pagination li.pre span {
  margin-left: 7px;
}
ul.p-pager__pagination li.next span {
  margin-right: 7px;
}

@media screen and (min-width: 600px) {
  ul.p-pager__pagination li {
    display: inline-block;
    font-size: 1.6rem;
  }
  ul.p-pager__pagination li:first-child {
    width: auto;
  }
  ul.p-pager__pagination li a {
    display: block;
    margin-left: 15px;
    padding: 5px 11px;
    width: 35px;
    height: 35px;
    text-align: center;
    border: 1px solid #707070;
    background: #FFFDFA;
  }
  ul.p-pager__pagination li a.active, ul.p-pager__pagination li a:hover {
    color: #fff;
    background: #3C2B1C;
  }
  ul.p-pager__pagination li a span {
    display: none;
  }
}
.u-margintop--30 {
  margin-top: 30px;
}
@media screen and (min-width: 600px) {
  .u-margintop--30 {
    margin-top: 60px;
  }
}

.u-margintop--60 {
  margin-top: 60px;
}

.u-marginleft--18 {
  margin-left: 18px;
}

.u-marginbottom--177 {
  margin-bottom: 177px;
}
@media screen and (min-width: 600px) {
  .u-marginbottom--177 {
    margin-bottom: 228px;
  }
}
@media screen and (min-width: 1025px) {
  .u-marginbottom--177 {
    margin-bottom: 353px;
  }
}

.u-bold {
  font-family: "M+ M Type-1 (basic latin) Regular";
  font-weight: bold;
  font-size: 1.6rem;
}
/*# sourceMappingURL=style.css.map */