@use "../../foundation/mixin"as m;
@use "../../foundation/variables"as v;

.p-pager {
    margin-top: 60px;
    margin-bottom: 30px;

    @include m.mq(tab) {
        margin-top: 105px;
    }

    @include m.mq(pc) {
        margin-top: 150px;
        margin-bottom: 64px;
    }
}

.wp-pagenavi {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
    color: v.$gray-color;

    @include m.mq(tab) {
        justify-content: center;
    }
}

span.pages,
a.page,
.current {
    display: none;
}

.previouspostslink,
.nextpostslink {
    width: 60px;
    border: none;
}

.previouspostslink {
    text-align: right;
    background: url(../images/pager_pre.png) left center no-repeat;
    border: none;
}

.nextpostslink {
    background: url(../images/pager_next.png) right center no-repeat;
    border: none;
}

@include m.mq(tab) {
    .wp-pagenavi {

        span.pages,
        a.page,
        .current {
            display: inline-block;
            margin-left: 15px;
            padding: 5px 11px;
            width: 35px;
            height: 35px;
            text-align: center;
            border: 1px solid v.$gray-color;
            background: v.$base-color;
        }

        .current,
        :hover {
            color: #fff;
            background: v.$accent-color;
        }

        span.pages {
            width: auto;
            border: none;
        }

        .previouspostslink,
        .nextpostslink {
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            width: auto;
        }

        .nextpostslink {
            margin-left: 13px;
        }
    }
}